* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input {
  font-family: 'Poppins', sans-serif;

  background: #E6E6F0;

}

body::before {
  content: '';

  height: 436px;
  width: 100%;

  background: #535971;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

h1, legend {
  font-family: 'Staatliches', cursive;
}

.page{
  width: 750px;
  margin: 140px auto 0;
}

header { 
  width: 417px;

  color: #FFFFFF;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

header h1 {
  font-size: 48px;
  font-weight: 400;
  line-height: 60px;
}

header p {
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;

}

form {
  background: #FFFFFF;

  width: 750px;
  height: 1084px;

  margin-top: 58px;
  padding: 64px;

  border-radius: 20px 20px 0 0;

  display: flex;
  flex-direction: column;
  gap: 30px;
  
}

fieldset {
  width: 622px;
  border: 0;

}

.legend-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 36px;
}

.fieldset-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

fieldset legend {
  font-weight: 400;
  font-size: 24px;
  line-height: 34px;

  color: #535971;

  border-bottom: 1px solid #E6E6F0;
  padding-bottom: 16px;
  
}

.group-input {
  display: flex;
  justify-content: space-between;
  gap: 22px;
  
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  width: 100%;

}

.input-wrapper label {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.input-wrapper input {
 
  height: 56px;

  background: #FAFAFC;
  border: 1px solid #E6E6F0;
  border-radius: 8px;

  font-size: 14px;
  line-height: 24px;
  color: #9e9ec2;

  padding-left: 10px;

}

.input-wrapper span {
  font-weight: 400;
  font-size: 12px;
  line-height: 20px;

  color: #786e8d;

  padding-left: 9px;

  
}

.column-wrapper {
  display: flex;
  gap: 32px;
  width: 100%;
}

 .h1-wrapper h1 {
  font-weight: 400;
  font-size: 20px;
  line-height: 34px;

  color: #535971;

  padding-bottom: 8px;

  
}

.date-wrapper {
  display: flex;;
  gap: 10px;
  width: 100%;
}




  